footer{
    position: relative;
    display: grid;
    background: #fff;
    margin-top: -50px;
    height: 100px;
    z-index: 5;
    .foot{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        margin-top: 24px;
    }
    .iconos{
        display: flex;
        justify-content: space-around;
       
    }
}

@media screen and (min-width:800px){
    footer{
        margin-top: -90px;
        height: 150px;
        grid-template-columns: 60% 40%;
        place-content: center;
        .foot{
            padding-left: 14%;
            font-size: 16px;
            line-height: 28px;
            justify-self: self-start;
            align-items: center;
            margin-top: unset;
        }
        .iconos{
           align-items: center;
        }
    }
}