header {
    width: 100%;
    position: fixed;
    height: 44px;
    top: 0;
    z-index: 10;
    padding: 10px 5%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    img{
        width: 24px;
        height: 24px;
        margin: auto 5%;
       }  
}


header nav .menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    top: 45px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: #f2f2f2;
    height: 0px;
}
header nav .menu  ul li {
    position: relative;
} 
header nav .menu  ul li:hover {
    background: $bg_blue;
} 
header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 16px 5%;
    line-height: 28px;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 500;
    
    &:active{
        color: $txt_active;
        text-decoration: line-through;
    }
}
header nav .menu  ul li a:hover {
    color:$menu;
    background: $blue_hover;
    
} 

header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 240px;
    background: $bg_blue 100%;
}
header nav .menu {
    padding-top: 7px;
}
/*checkbox transparente y en primer plano*/
header nav .menu input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    
}
/*span -lineas del menu hamburguesa-*/
header nav .menu span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 5px 0px;
}
header nav .menu span:first-child {
    transform-origin: 0% 0%;
}
header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
/*movimiento a cruz*/
header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 1px);
}
header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}



@media screen and (min-width: 800px) {
    header{
        height: 80px;
        img{
            width: 36px;
            height: 36px;
            margin: auto 8%;
           }
     
    }
    header nav .menu ul {
        position: relative;
        top: -15px;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
        display:flex;
        align-items: center;
    }
    header nav .menu  ul li {
        padding: 18px 24px;
        
    } 
    header nav .menu  ul li:hover {
        background: unset;
        
    } 
    header nav .menu ul li a {
        padding: unset;
        line-height: 28px;
        color: $menu;
    }
    header nav .menu  ul li a:hover {
        text-decoration: line-through;
        background: unset;
        color:$blue_hover;
    } 
    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
}


