main{
    margin-top: 73px;
    section{
        h1{
            margin: 0 5%;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            color:$menu;
            letter-spacing: 0;
            line-height: 42px;
            font-weight: 350;

            span{
                text-decoration: line-through;
            }
        }
        p{
            margin:5%;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 200;
            text-align: justify;
            font-size: 14px;
            color:$menu;
            letter-spacing: 0;
            line-height: 22px;
        }

        .btn{
            margin:5%;
            font-family: 'IBM Plex Mono', monospace;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            width: 90%;
            height: 48px;
            background: $blue_hover;
            color: $menu;
            border: none;
            

            &:hover{
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                color: #fff;
                border: none;
            }
        }
    }
    .episodios{
        display: flex;
        flex-flow: column wrap;
        margin: unset;
        width: 100%;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        h1{
            margin: 0 5%;
            color: #fff;
        }
        div img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 80%;
        }
    }
}