
@media screen and (min-width: 520px){
    header{
        height: 80px;
        img{
            width: 36px;
            height: 36px;
            margin: auto 8%;
           }
     
    }
    header nav .menu ul {
        position: relative;
        top: -15px;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
        display:flex;
        align-items: center;
    }
    header nav .menu  ul li {
        padding: 18px 24px;
        
    } 
    header nav .menu  ul li:hover {
        background: unset;
        
    } 
    header nav .menu ul li a {
        padding: unset;
        line-height: 28px;
        color: $menu;
    }
    header nav .menu  ul li a:hover {
        
        background: unset;
        color:$blue_hover;
    } 
    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
}
