
main .nosotros{
    margin-top: -110px;        
    img{
        position: relative;
        width: 100%;
        z-index: 4;
        padding: 0 auto;
    }
    p{
        text-align: left;
    }
}

@media screen and (min-width:800px){
    main .nosotros{
        margin-top: -110px; 
        display: grid;
        grid-template-columns: 50% 50%;
        align-content: center; 
        justify-content: center;      
        .phone {
            display: flex;
            place-items: end;
            padding-left: 30%;
            img{
                width: 80%;
                height: 100%;
                justify-self:self-end;
            }
        }
        .texto {
            h1{
                margin-left: 2%;
                font-size: 48px;
                line-height: 62px;
                margin-top: 170px;
            }
            p{
            text-align: left;
            margin: 2%;
            width: 60%;
            }
        }
    }
}