
main .nosotros{
    margin-top: -110px;        
    img{
        position: relative;
        width: 100%;
        z-index: 4;
        padding: 0 auto;
    }
    p{
        text-align: left;
    }
}

@media screen and (min-width:450px){
    main .nosotros{
        margin-top: -110px; 
        display: grid;
        grid-template-columns: 50% 50%;
        align-content: center; 
        justify-content: center;      
        div {
            
            img{
                position: relative;
                width: 70%;
                z-index: 4;
                padding: 0 auto;
                justify-self:self-end;
            }
        }
        .texto {
            h1{
                margin-left: 0;
                font-size: 48px;
                line-height: 62px;
                margin-top: 100px;
            }
            p{
            text-align: left;
            margin: 2%;
            width: 90%;
            }
        }
    }
}