@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$bg_blue:#0000EC;
$menu:#060A24;
$blue_hover:#00F0B8;
$txt_active:#060A24 56%;
$btn_oscuro:#0000FE 100%;
