@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  width: 100%;
  position: fixed;
  height: 44px;
  top: 0;
  z-index: 10;
  padding: 10px 5%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 24px;
  height: 24px;
  margin: auto 5%;
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #f2f2f2;
  height: 0px;
}

header nav .menu ul li {
  position: relative;
}

header nav .menu ul li:hover {
  background: #0000EC;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 450;
}

header nav .menu ul li a:active {
  color: #060A24 56%;
  text-decoration: line-through;
}

header nav .menu ul li a:hover {
  color: #060A24;
  background: #00F0B8;
}

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  background: #0000EC 100%;
}

header nav .menu {
  padding-top: 7px;
}

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, 1px);
          transform: rotate(45deg) translate(1px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

@media screen and (min-width: 800px) {
  header {
    height: 80px;
  }
  header img {
    width: 36px;
    height: 36px;
    margin: auto 8%;
  }
  header nav .menu ul {
    position: relative;
    top: -15px;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .menu ul li {
    padding: 18px 24px;
  }
  header nav .menu ul li:hover {
    background: unset;
  }
  header nav .menu ul li a {
    padding: unset;
    line-height: 28px;
    color: #060A24;
  }
  header nav .menu ul li a:hover {
    text-decoration: line-through;
    background: unset;
    color: #00F0B8;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}

main {
  margin-top: 73px;
}

main section h1 {
  margin: 0 5%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 350;
}

main section h1 span {
  text-decoration: line-through;
}

main section h1 .dot {
  text-decoration: unset;
  color: #0000EC;
}

main section p {
  margin: 5%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  text-align: justify;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

main section .btn {
  margin: 5%;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  width: 90%;
  height: 48px;
  background: #00F0B8;
  color: #060A24;
  border: none;
}

main section .btn:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #fff;
  border: none;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 200px;
  }
  main section h1 {
    margin: 0 14%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 84px;
    font-weight: 400;
  }
  main section h1 span {
    text-decoration: line-through;
  }
  main section p {
    margin: 2% 14%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 250;
    text-align: justify;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    width: 44%;
  }
  main section .btn {
    margin: 2% 14%;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    width: 16%;
    height: 48px;
    background: #00F0B8;
    color: #060A24;
    border: none;
  }
}

.episodios {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  margin: 20px 0;
  z-index: 2;
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.episodios .txt {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  position: relative;
  z-index: 3;
  padding-top: 10px;
}

.episodios .txt h1 {
  margin: 5%;
  color: #fff;
}

.episodios .txt .podcast {
  margin: 5%;
  max-width: 90%;
  display: -ms-grid;
  display: grid;
}

.episodios .txt .space {
  height: 120px;
}

@media screen and (min-width: 800px) {
  .episodios .txt h1 {
    margin: 4% 14%;
    font-size: 48px;
    line-height: 62px;
  }
  .episodios .txt .podcast {
    max-width: unset;
    margin: unset;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    gap: 15% 5%;
    place-content: center;
  }
  .episodios .txt .space {
    height: 250px;
  }
}

main .nosotros {
  margin-top: -110px;
}

main .nosotros img {
  position: relative;
  width: 100%;
  z-index: 4;
  padding: 0 auto;
}

main .nosotros p {
  text-align: left;
}

@media screen and (min-width: 800px) {
  main .nosotros {
    margin-top: -110px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .nosotros .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: end;
    padding-left: 30%;
  }
  main .nosotros .phone img {
    width: 80%;
    height: 100%;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
  }
  main .nosotros .texto h1 {
    margin-left: 2%;
    font-size: 48px;
    line-height: 62px;
    margin-top: 170px;
  }
  main .nosotros .texto p {
    text-align: left;
    margin: 2%;
    width: 60%;
  }
}

main .entrevistas {
  margin: 40px 0;
}

main .entrevistas .galeria {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  gap: 0;
}

main .entrevistas .galeria img {
  width: 100%;
}

@media screen and (min-width: 800px) {
  main .entrevistas {
    margin: 40px 0;
  }
  main .entrevistas h1 {
    font-size: 48px;
    line-height: 62px;
  }
  main .entrevistas .galeria {
    display: -ms-grid;
    display: grid;
    margin-top: 20px;
    gap: 0;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main .entrevistas .galeria img {
    width: 100%;
  }
}

main .topicos .temas .img_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .topicos .temas .img_center img {
  width: 104px;
  height: 104px;
}

main .topicos .temas div {
  width: 100%;
  margin: 6% 1%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main .topicos .temas div h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
  font-size: 24px;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (min-width: 800px) {
  main .topicos h1 {
    font-size: 48px;
    line-height: 62px;
  }
  main .topicos .temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .topicos .temas .box {
    width: 25%;
  }
}

main .final {
  text-align: center;
  padding-bottom: 31px;
  overflow: hidden;
  height: 300px;
}

@media screen and (min-width: 800px) {
  main .final {
    text-align: center;
    padding-bottom: 31px;
    overflow: hidden;
    height: 450px;
  }
  main .final .txt h1 {
    margin-top: 5%;
  }
  main .final .txt .btn {
    width: 28%;
  }
}

footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  background: #fff;
  margin-top: -50px;
  height: 100px;
  z-index: 5;
}

footer .foot {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
}

footer .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 800px) {
  footer {
    margin-top: -90px;
    height: 150px;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    place-content: center;
  }
  footer .foot {
    padding-left: 14%;
    font-size: 16px;
    line-height: 28px;
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: unset;
  }
  footer .iconos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */